@import '/node_modules/ress/ress.css';
@import './fonts.scss';
@import './colors.scss';
@import './character_styles.scss';
@import './element_styles.scss';

body {
  position: relative;
  padding-bottom: 80px; // footer height
  min-height: 100vh;
}
